.choiceBtn{
    line-height: 30px;
    width:150px;
}
.gameDiv{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid;
    border-radius: 25px;
    padding: 12px;
    background-color:lightgrey;
    text-align: center;
}
.scoreboard{
    border:2px solid;
}
#playerText{
    color:blue
}
#computerText{
    color:yellow;
}